#Today .show-form-text {
  color: darkgray;
  text-align: center;
  margin: .5em;
  border-bottom: 3px solid #E0E1E2;
}

#Today .show-form-text:hover {
  color: grey;
}

#Today .show-form-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}