<nav>
  <div style="padding-bottom: 10px; padding-top: 15px;">
    <a href="/admin/changePassword" 
      style="
      text-align: center;
      padding: 10px 16px;
      font-size: 17px;
      ">
      Change Password</a> |
    <a href="/admin/register"
      style="
      text-align: center;
      padding: 10px 16px;
      font-size: 17px;
      ">
      Create User</a> |
    <a href="/admin/logout"
      style="
      text-align: center;
      padding: 10px 16px;
      font-size: 17px;">
      Logout</a>
  </div>
</nav>