.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.mt-small {
  margin-top: .5em;
}

.mt-large {
  margin-top: 3em;
}

.mt {
  margin-top: 1.5em;
}

#primary-content {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  padding: 1em;
}

/* App grid */
.parent-container{
  display: grid; 
  grid-template-columns: 0.5fr 2.3fr 0.5fr; 
  grid-template-rows: 0.5fr 1.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header"
    "left-col main right-col"
    "left-col main right-col"; 
}
.header { 
  grid-area: header; 
  padding-bottom: 1em; 
}
.left-col { 
  grid-area: left-col;  
}
.right-col {
  padding-right: 3em;
  grid-area: right-col; 
}
.main { 
  grid-area: main; 
}