/* App.js and global styles */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.mt-small {
  margin-top: .5em;
}

.mt-large {
  margin-top: 3em;
}

.mt {
  margin-top: 1.5em;
}

#primary-content {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  padding: 1em;
}

.site-header .header {
  text-align: center;
  margin-top: .5em;
}

#main-container {
  width: 95%;
  margin: 0 auto;
  max-width: 900px
}

#content-all h1, h2, h3, h4  {
  font-family: 'Raleway', sans-serif !important;
  font-weight: '500' !important;
}

#content-all {
  padding-bottom: 2.5em;
}

@media only screen and (max-width: 600px) {
  .header-icon {
    display: none;
  }
}

#app-main {
  color: green;
  border: 1px solid yellow;
}

/* JournalForm.js styles */
.date-input {
  margin-bottom: 1em;
  margin-top: .5em;
}
