<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>

<div class='container' style="margin: 1em;" id="guide">

  <header>
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em">
      <div class="content">
        <i class="icon home violet"></i>
        Home
        <div class="sub header">
          Homepage content goes here
        </div>
      </div>
    </h1>
  </header>

</div>