<*- include('./partials/head'); *>
<body>
  <div style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
  <div id="dashboard" class="ui segment" style="height:90vh; margin-top: 5vh; width:90vw">
  
  <div class="ui four item menu">
    <a class="item">Profile</a>
    <a class="active item">Update Map Data</a>
    <a class="item" href="localhost:5000/admin/static">Update Static Data</a>
    <a class="item">
      Logout
    </a>
  </div>

  <div id="csv-upload" style="margin-top:17em;">
    <div class="ui middle aligned center aligned grid container" style="margin-top:5rem">
      <div class="ui fluid raised segment">

      <label for="embedpollfileinput" class="ui huge teal right floated button">
        <i class="ui upload icon"></i> 
        Upload Map Data CSV

      </label>
        <input type="file" (change)="fileEvent($event)" class="inputfile" id="embedpollfileinput" />
      </div>
    </div>
  </div>
  </div>
</div>
</body>