<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>
<style>

  .dev-instructions {
    text-align: left;
    border: 2px dashed lightgrey;
  }

  .dev-instructions li {
    margin: .5em;
  }

  #upload {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
</style>
<div class='container' style="margin: 1em;" id="upload">

  <header>
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em">
      <div class="content">
        <i class="eye icon violet"></i>
        Preview Site
        <div class="sub header">
          Additional instructions can go here!
        </div>
      </div>
    </h1>
  </header>

  <div class="dev-instructions" style="width: 500px">
    <ul><strong>Developer TODO:</strong> 
      <li> 
        Display a link to the preview site with the updated data 
      </li> 
      <li>
        Show a div with data validation errors and instrutions to rectify them
      </li>
    </ul>
  </div>


</div>