<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>

<style>

  .form { 
    padding: 25px;
  }

  .centered-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #register {
    margin-top: 3em;
  }

  #register .message {
    padding-left: 2em;
    padding-right: 2em;
  }
</style>
<script>
  console.log(location.pathname)


</script>

<div class='container' style="margin: 1em;" id="upload">

  <header>
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em">
      <div class="content">
        <i class="icon cog"></i>
        Settings
      </div>
    </h1>
  </header>

  <div class="ui segment raised">
    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>
    <% if(message && message.length > 0) { %>
      <div class="ui message teal form">
        <%= message %>
      </div>
    <% } %>
    <form class="ui form" action="/user/password" method="POST">
    <h2>Change your password</h2>
      <div class="field">
        <label for="oldPassword">
          Old password:</label>
        <input
          type="password"
          name="oldPassword"
          required
        />
      </div>
      <div class="field">
        <label for="newPassword">
          New password:</label>
        <input
          type="password"
          name="newPassword"
          required
        />
      </div>
      <div class="field">
        <label for="confirmNewPassword">
          Confirm new password:</label>
        <input
          type="password"
          name="confirmNewPassword"
          required
        />
      </div>
      <button class="ui button fluid grey" style="margin-top: 2em;">Submit</button>
    </form>
  </div>
</div>