<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>

<div class='container' style="margin: 1em;" id="upload">

  <header>
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em">
      <div class="content">
        <i class="icon sync violet"></i>
        Update Site
        <div class="sub header">
          Additional instructions can go here!
        </div>
      </div>
    </h1>
  </header>

  <!-- TODOs for this page  -->
  <div class="dev-instructions" style="width: 500px">
    <ul class="ui list" style="padding: 1.25em">
      <strong>Developer TODO:</strong> 
      <li> 
        Display button to update the live site
      <li> 
        Update the live site onclick, and return a sucesss or failure message
      </li>
      <li> 
        If the updated failed, offer detailed troubleshooting steps.
      </li>
    </ul>
  </div>

</div>