<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>

<div class='container' style="margin: 1em;" id="upload">

  <header>
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em">
      <div class="content">
        <i class="icon sync violet"></i>
        Update Site
        <div class="sub header">
          Additional instructions can go here!
        </div>
      </div>
    </h1>
  </header>

</div>