<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>

<div class='container' style="margin: 1em;" id="upload">

  <header>
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em">
      <div class="content">
        <i class="sync icon"></i>
        Upload Website Data
        <div class="sub header">
          Need more  help? Check out the <a href="/guide"> user guide!</a>
        </div>
      </div>
    </h1>
  </header>


  </div>