<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>

<style type="text/css">
  .form{
    width: 500px;
    padding: 25px;
  }
  @media(max-width: 692px){
    .form{
      width: 70%;
    }
  }
  @media(max-width: 450px){
    .form{
      width: 80%;
    }
  }
  .centered-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #register {
    margin-top: 3em;
  }

  #register .message {
    padding-left: 2em;
    padding-right: 2em;
  }
</style>

<main class="ui segment container raised" id="register">
<div class="centered-page">

<h1>Register New User</h1>
  
  <!-- Errors  -->

  <ul>
    <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
    <li><%= error.message %></li>
    <% }) %> <% } %>
  </ul>
  <% if(message && message.length > 0) { %>
    <div class="ui message teal form">
      <%= message %>
    </div>
  <% } %>


  <form class="ui form" action="/user/add" method="POST">
    <div class="field">
      <label for="name">
        Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="Winter"
        placeholder="Name"
        required
      />
    </div>
    <!-- <div class="two fields">
      <div class="field">
        <label for="firstName">First Name:</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          value="Winter"
          placeholder="First name"
          required
        />
      </div>
      <div class="field">
        <label for="lastName">Last Name:</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          value="Runion"
          placeholder="Last name"
          required
        />
      </div>

    </div> -->
    <div class="field">
      <label for="email">Email: </label>
      <input
        type="email"
        id="email"
        name="email"
        value="abc@gmail.com"
        placeholder="Email"
        required
      />
    </div>
    <div class="field">
      <label for="password">Temporary Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        value="pass"
        placeholder="Password"
        required
      />
    </div>
    <div class="field">
      <label for="role">User Role:
      <select name="role" required>
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </label>
    </div>
    <div class="field">
      <!-- <input type="submit" value="Create" /> -->
      <button type="submit" class="ui button secondary basic">
        Create
      </button>
      <a href="/admin/dashboard">Cancel</a>
    </div>
  </form>
</div>
</main>
