<%- include('./../partials/head'); %>
<%- include ('./../partials/navbar'); %>
<%- include ('./../partials/listingsNavbar'); %>

<div class='container ui segment' style="margin: 1em;" id="upload">

  <header>
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em; font-size: 1.75em">
      <div class="content">
        <i class="eye icon violet"></i>
        Step 2: Preview Site
        <div class="sub header">
          View and test your new site data
        </div>
      </div>
    </h1>
  </header>
  

</div>