<%- include('./../partials/head'); %>
<%- include ('./../partials/navbar'); %>
<%- include ('./../partials/listingsNavbar'); %>

<div class="container ui segment" style="margin: 1em;" id="upload">

  <header>
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em; font-size: 1.75em">
      <div class="content">
        <i class="cloud upload icon violet"></i>
        Step 1: Upload CSV File
      </div>
    </h1>
  </header>

  <div id="csv-upload">
    <form role="form" action="/listings/upload" method="POST"
      class="ui form" enctype="multipart/form-data">
      <div class="field">
        <input type="file" name="listings" aria-label="Upload listings CSV file">
      </div>
      <div class="field">
        <input type="submit" value="Upload CSV" class="ui button fluid={true} violet basic">
      </div>
    </form>



  </div>

</div>