<%- include('./head'); %>

<nav>
  <div class="ui menu">
    <a href="/home" 
      id="home"
      class="header item">
      <i class="ui icon home large teal"></i>
      <strong>Healthy Transitions Home</strong>
    </a>
    <div class="right menu">
      <a href="/listings/upload"
        id="listings"
        class="item right custom-right">
        <i class="ui icon list ul grey"></i>Listings
      </a> 
      <a href="/settings"
        id="settings"
        class="item right custom-right">
        <i class="ui icon cog grey"></i>Settings
      </a>
      <!-- <a href="/logout"
        class="item right custom-right">
        <i class="ui icon power off grey"></i>Logout
      </a> -->
      
      <!-- dropdown  -->
      <div class="ui pointing dropdown link item custom-right-menu">
        More <i class="dropdown icon"></i>
        <div class="menu">

          <a class="item" id="guide" href="/user">
            <i class="ui icon users"></i>
            Add User
          </a>
          <a class="item" id="guide" href="/guide">
            <i class="ui icon book"></i>
            User Guide
          </a>
          <!-- <a class="item"  href="/settings">
            <i class="ui icon cog"></i> Settings
          </a> -->
          <a class="item" id="logout" href="/logout">
            <i class="ui icon power off"></i> Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  $('.ui.dropdown').dropdown('hide');
</script>